# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# Flask/Python environment variables
.env

# VS Code settings
.vscode/

# Windows system files
Thumbs.db
ehthumbs.db
Desktop.ini

# Logs
*.log

# Pytest cache
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Other
*.sqlite3
instance/
